@import  '../../../styles/global/colors.scss';

.footer {
  margin-top: 86px;
  background-color: $bg-gray;
  min-height: 82px;
  flex: 0 0 auto;
}

.footer-nav {
  max-width: 1225px;
  margin: 0 auto;
  padding-top: 1px;
}

.footer-nav__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin-left: 40px;
  margin-right: 20px;
}

.footer-nav__item {
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer-nav__link {
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: none;
  color: $text-gray;
  font-weight: 600;

  &:hover {
    text-decoration: underline;
    color: $text-black;
  }

  &:active {
    opacity: 0.6;
  }
}